<%- include('../template/header.ejs') %>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- Left col -->
            <section class="col-lg-12">
                <!-- Custom tabs (Charts with tabs)-->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">
                            <strong>
                                Selamat Datang, di Arrahim
                            </strong>
                        </h3>
                    </div>
                </div>
            </section>
        </div>
</section>
<%- include('../template/footer.ejs') %>